[submodule "Cinder/vendor/GLFW"]
	path = Cinder/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Cinder/vendor/glm"]
	path = Cinder/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Cinder/vendor/imgui"]
	path = Cinder/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
